@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles */
@layer components {
  .nav-link {
    @apply text-gray-700 hover:text-blue-600 px-3 py-2 font-medium transition-colors duration-300;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Section padding adjustment for fixed navbar */
section {
  scroll-margin-top: 4rem; /* Sesuaikan dengan tinggi navbar */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
